  .navbar {
    background-color: #EAE7DC;
    height: 80px;
    display: flex;
    align-items: center;

  }
  .logo {
    display: flex;
    align-items: center;
  }

  .logo-img {
    height: 200px;  /* Adjust this size */
    width: auto;
    object-fit: contain;  /* Ensures proper scaling */
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #8E8D8A;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #EAE7DC;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #E98074;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #8E8D8A;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .logout-button {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 16px; /* Added more padding on the sides */
    list-style: none;
    height: 45px;
    width: 90%; /* Slightly narrower for better spacing */
    background: none;
    border: none;
    color: #EAE7DC;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    margin: 0 auto; /* Centering the button within the nav */
    border-radius: 4px; /* Subtle rounding */
}

.logout-button:hover {
    background-color: #E98074;
    border-radius: 5px; /* More pronounced rounded corners on hover */
}


  span {
    margin-left: 16px;
  }